/*  Bootstrap's breakpoints for the memo:
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px; */

body {
  margin: auto;
  font-family: arial;
}

html {
  background-color: black
}
